/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
@font-face {
    font-family: 'pier_sanslight';
    src: url('../fonts/pier-sans/piersans-light-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansregular';
    src: url('../fonts/pier-sans/piersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansmedium';
    src: url('../fonts/pier-sans/piersans-medium-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansbold';
    src: url('../fonts/pier-sans/piersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansblack';
    src: url('../fonts/pier-sans/piersans-black-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {box-sizing: border-box;}

body{
    background-color: #141414;
    font-family: 'pier-sansregular';
    color: white;
    font-size: 14px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 60px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}
header nav a.header-logo .logo {
    display: block;
    width: 92px;
    height: 55px;
    background: url('../images/netflix-logo.svg')
    no-repeat center center;
    background-size: contain;
    will-change: transform;
    transition: .25s ease-in-out;
}
header nav a.header-logo .logo:hover{
    transform: scale(1.2);
}
main {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
.profiles-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 65px);
    margin-top: 65px;
}
.profiles-selection-container h1{
    font-family: 'pier_sansregular';
    font-size: 52px;
    text-align: center;
    margin-bottom: 40px;
}
.profiles-selection-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;  
    margin: 0 20px;
    align-content: space-between;
     
}
.profile-container .profile-pic, a.profile-container .profile-pic{
    display: block;
    width: 150px;
    height: 150px;
    background: url('../images/dog.png') no-repeat center center;
    background-size: contain;
    border: 5px solid #1f1f1f;
    transition: .25s ease-in-out;
}
.profile-container:nth-of-type(2) .profile-pic {
    background: url('../images/face-red.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(3) .profile-pic {
    background: url('../images/face-green.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(4) .profile-pic {
    background: url('../images/face-yellow.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(5) .profile-pic {
    background: url('../images/kids-section.png') no-repeat center center;
    background-size: contain;
}

.profile-container:hover .profile-pic {
    border-color: #fff;
}
.profile-container h3{
    font-family: 'pier_sansregular'; font-size: 16px;
    color: #808080; transition: .25s ease-in-out;
}
.profile-container:hover h3{
    color:#fff;
}
.manage-profiles {
    display: flex;
    align-self: flex-end;
    padding: 5px 20px;
    background: #141414;
    font-family: 'pier_sansregular';
    font-size: 18px;
    color: grey;
    margin-top: 65px;
    width: 100%;
    min-height: 40px;
    border: 1px solid #808080;
    letter-spacing: 3.5px;
}
.manage-profiles:hover {
    color: #fff;
    border-color: #fff;
}
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'pier_sansregular';
    font-size: 18px;
    color: #fff; 
    margin-left: 40px;  
}
.header-logo {
    color: #fff;
}
.home {
    padding: 10px;
}
.tv-shows {
    padding: 10px;
}
.movies {
    padding: 10px;
}
.recently-added {
    padding: 10px;
}
.my-list {
    padding: 10px;
}
.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 auto;
    padding: 20px;
    align-items: center;
    font-family: 'pier_sansregular';
    font-size: 18px;
}
/* .search-icon {
    padding: 10px;
    margin-top: 30px;
}
.notifications-icon {
    padding: 10px;
    margin-top: 30px;
} */
.kids {
    padding: 10px;
}
.dvd {
    padding: 10px;
}
.icon-container .icons:nth-of-type(2) .kids {
   font-family: 'pier_sansregular';
}
.icon-container .icons:nth-of-type(3) .dvd {
    font-family: 'pier_sansregular';
 }
 .icon-container .icons:nth-of-type(4) .notifications-icon {
    font-family: 'pier_sansregular';
 }
.section .featured-section {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.section .featured-section:after{
    content: '';
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(to top, #141414, transparent);
}
.section .featured-section .video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
