/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
@font-face {
    font-family: 'pier_sanslight';
    src: url('../fonts/pier-sans/piersans-light-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansregular';
    src: url('../fonts/pier-sans/piersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansmedium';
    src: url('../fonts/pier-sans/piersans-medium-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansbold';
    src: url('../fonts/pier-sans/piersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansblack';
    src: url('../fonts/pier-sans/piersans-black-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {box-sizing: border-box;}

body{
    background-color: #141414;
    font-family: 'pier-sansregular';
    color: white;
    font-size: 14px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 60px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header nav a.header-logo .logo {
    display: block;
    width: 92px;
    height: 55px;
    background: url('../images/netflix-logo.svg')
    no-repeat center center;
    background-size: contain;
    will-change: transform;
    transition: .25s ease-in-out;
}
header nav a.header-logo .logo:hover{
    transform: scale(1.2);
}
main {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
.profiles-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 65px);
    margin-top: 65px;
}
.profiles-selection-container h1{
    font-family: 'pier_sansregular';
    font-size: 52px;
    text-align: center;
    margin-bottom: 40px;
}
.profiles-selection-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;  
    margin: 0 20px;
    align-content: space-between;
     
}
.profile-container .profile-pic, a.profile-container .profile-pic{
    display: block;
    width: 150px;
    height: 150px;
    background: url('../images/dog.png') no-repeat center center;
    background-size: contain;
    border: 5px solid #1f1f1f;
    transition: .25s ease-in-out;
}
.profile-container:nth-of-type(2) .profile-pic {
    background: url('../images/face-red.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(3) .profile-pic {
    background: url('../images/face-green.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(4) .profile-pic {
    background: url('../images/face-yellow.png') no-repeat center center;
    background-size: contain;
}
.profile-container:nth-of-type(5) .profile-pic {
    background: url('../images/kids-section.png') no-repeat center center;
    background-size: contain;
}

.profile-container:hover .profile-pic {
    border-color: #fff;
}
.profile-container h3{
    font-family: 'pier_sansregular'; font-size: 16px;
    color: #808080; transition: .25s ease-in-out;
}
.profile-container:hover h3{
    color:#fff;
}
.manage-profiles {
    display: flex;
    align-self: flex-end;
    padding: 5px 20px;
    background: #141414;
    font-family: 'pier_sansregular';
    font-size: 18px;
    color: grey;
    margin-top: 65px;
    width: 100%;
    min-height: 40px;
    border: 1px solid #808080;
    letter-spacing: 3.5px;
}
.manage-profiles:hover {
    color: #fff;
    border-color: #fff;
}
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'pier_sansregular';
    font-size: 18px;
    color: #fff; 
    margin-left: 40px;  
}
.list-container a {
    color: #fff;
    padding:0 8px;
    text-decoration: none;
}
.header-logo {
    color: #fff;
}
.home {
    padding: 10px;
}
.tv-shows {
    padding: 10px;
}
.movies {
    padding: 10px;
}
.recently-added {
    padding: 10px;
}
.my-list {
    padding: 10px;
}
.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 auto;
    padding: 20px;
    align-items: center;
    font-family: 'pier_sansregular';
    font-size: 18px;
}
/* .search-icon {
    padding: 10px;
    margin-top: 30px;
}
.notifications-icon {
    padding: 10px;
    margin-top: 30px;
} */
.kids {
    padding: 10px;
}
.dvd {
    padding: 10px;
}
.icon-container .icons:nth-of-type(2) .kids {
   font-family: 'pier_sansregular';
}
.icon-container .icons:nth-of-type(3) .dvd {
    font-family: 'pier_sansregular';
 }
 .icon-container .icons:nth-of-type(4) .notifications-icon {
    font-family: 'pier_sansregular';
 }
section.featured-section {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
section.featured-section:after{
    content: '';
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(to top, #141414, transparent);
}
section.featured-section video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.feature-content-container {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-between;
   width: 80%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 999;
   margin-left: 40px;
}
/* .play-pause-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.m-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
} */
.feature-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.feature-action-buttons button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    background: rgba(0, 0, 0, .35);
    box-shadow: 0;
    /* color: #e6e6e6; */
    font-family: 'pier_sansbold';
    font-size: 16px;
    margin-right: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    white-space: nowrap;
    will-change: transform;
    transition: .2s ease-in-out;
}
.feature-action-buttons button#play-pause-button span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-action-buttons button#play-pause-button .play-controls{
    display: none;
}
.feature-action-buttons button#play-pause-button.pause-video .pause-controls{
    display: flex;
}
.feature-action-buttons button#play-pause-button.pause-video .play-controls{
    display: none;
}
.feature-action-buttons button#play-pause-button.play-video .pause-controls{
    display: none;
}
.feature-action-buttons button#play-pause-button.play-video .play-controls{
    display: flex;
}
.feature-action-buttons:hover {
    transform: scale(1.05);
    transform-origin: center;
    background: #fff;
    color: #000;
    box-shadow: 0 15px 25px 0 rgba(10 10 10 .20);
    cursor: pointer;
}
.feature-action-buttons button i{
    font-size: 28px;
    margin-right: 8px;
}

.feature-description{
    font-size: 21px;
    line-height: 1.4;
    text-shadow: 5px 5px 12px #000;
    width: 35%;
}
.homepage main {
    width: 100%;
    max-width: 100%;
    padding-bottom: 100px;
}
.show-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 0 0 45px 0;
    padding: 20px;
}
.show-selection-container h2 {
    display: flex;
    justify-content: start;
    font-family: 'pier_sansmedium';
    font-size: 21px;
    color: #fff;
    margin-bottom: 15px;
}
.show-selection-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}
.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: auto;
    padding: 2px;
}
.pic {
    width: 220px;
    height: 120px;
}
.o-pic {
    width: 220px;
    height: 330px;
}
.show-container:first-of-type:hover {
    transform: scale(1.75);
    transform-origin: center left;
    box-shadow: 0 15px 135px 0 rgba(10 10 10 .85); 
    cursor: pointer;
    z-index: 998;
}
.show-container:last-of-type:hover {
    transform: scale(1.75);
    transform-origin: center right;
    box-shadow: 0 135px 15px 0 rgba(10 10 10 .85); 
    cursor: pointer;
    z-index: 998;
}
.show-container:hover {
    transform: scale(1.75);
    transform-origin: center;
    box-shadow: 0 15px 35px 0 rgba(10 10 10 .85); 
    cursor: pointer;
    z-index: 998;
}